@import "tailwindcss";

@theme {
  --color-link: #D4D6D4;
  --color-link-hover: #FFD723;
  --color-link-active: #FFE986;
  --color-link-visited: #FFE15A;
  --color-link-selection: #FFE573;

  --color-text-primary: #4D533C;
  --color-text-secondary: rgba(33, 56, 66, 0.6);
  --color-text-tertiary: #152934;
  --color-text-footer: #B6C197;
  --color-text-selection: #DAE2C3;

  --color-hr: rgba(33, 56, 66, 0.09);
  --color-hr-secondary: #5D6544;

  --color-background-primary: #4F553D;
  --color-background-secondary: #FBFBFB;

  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body::selection {
  background-color: var(--color-text-selection);
}

.h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 7.4rem;
}

.h2 {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--color-text-primary);
  line-height: 4.6rem;
}

.text-paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.6rem;
  color: var(--color-text-secondary);
}

.text-quote-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-text-primary);
}

.text-quote-body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-text-primary);
}

.text-quote {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
  color: var(--color-text-primary);
  line-height: 2.6rem;
}

.text-card-title {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-text-primary);
  line-height: 3.4rem;
}

.text-card {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-text-secondary);
  line-height: 2.6rem;
}

.text-section {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.text-footer-primary {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  line-height: 4rem;
}

.text-footer-secondary {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-text-footer);
  line-height: 4rem;
}